<section class="hero">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h1>Lutherie d'excellence </h1>
        <p>Chaque instrument raconte une histoire. Chaque note porte l'âme du bois et la main de l'artisan.</p>
        <a href="#instruments" class="btn">Découvrir la Collection</a>
    </div>
</section>
